/* CSS for HTML */
body {
  background-color: #94d3ac;
  margin: 0;
  text-align: center;
  font-family: 'Maitree', serif;
}

/*100%=16px  1em=16px*/
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #0f4c81;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #10316b;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #94aa2a;
}

body {
  padding: 0px;
  margin: 0px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #3c9d9b;
  border-width: 7px;
  width: 15%;
  margin: 50px auto;
}

p {
  color: #394a6d;
  line-height: 2;
}

/* Title Section  */
.dev {
  font-weight: normal;
  color: #66BFBF;
}

.attribute {
  font-size: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  background-color: #effcef;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}

/* Profile Section  */
.profile-picture {
  border-radius: 100%;
}

.greeting{
  padding-top: 1.5%;
}

.full-stack {
  text-decoration: underline;
}

.middle-container {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #ccedd2;
  text-align: center;
}

.intro {
  width: 30%;
  margin: auto;
  font-size: 1.25rem;
}

.profile {
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Skills Section  */
.education {
  padding-bottom: 3%;
}

.certification {
  padding-top: 3%;
  padding-bottom: 3%;
}

.educationList {
  list-style-position: inside;
  color: #0c7b93;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}

.skillSetTitle {
  padding-bottom: 1.5%
}

.qualifications {
  list-style-position: inside;
  color: #0c7b93;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

.trademark {
  color: #655c56;
}

.bottom-container {
  padding-top: 1.5%;
  background-color: #94d3ac;
}

/* Contact section */

.email{
  padding-right: 1%;
}

.linkedIn{
  padding-left: 1%;
}

.trademark{
  padding-top: 2%;
}
